@model BlogSystem.BLL.DTO.CommentDto
<h2>Edit Comment</h2>
<form asp-action="EditView" asp-controller="Comments" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
    <label>Content:</label><textarea name="Content">@Model.Content</textarea><br />
    <button type="submit">Save</button>
</form>
<a href="/Articles/Details/@Model.ArticleId">Back to Article</a>